.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.bigred {
  font-family: "Courier New";
  font-style: italic;
  font-size: xx-large;
  color: red;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 0px 0px 0px 5px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px;
  border-bottom-color: rgba(126, 3, 151, 1);
  border-top: none;
  margin-bottom: 2vh;
}
.react-autosuggest__input:focus {
  outline: none;
}

.lamp {
  height: 3rem;
  width: 3rem;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
}
.light {
  border: solid;
  width: 4.25rem;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.scenario-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2em;
}
.scenario-message {
  color: white;
  width: 80%;
  margin: 2px;
  padding: 1em;
  font-size: smaller;
  font-weight: bold;
}

.usersList {
  margin-top: 2px;
  margin-bottom: 2px;
  box-sizing: border-box;
  height: calc(80vh - 70px);
  overflow-y: hidden;
  overflow-x: hidden;
}

.userBubble {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  padding: 5px;
  width: 70%;
  margin-bottom: -1em;
  border-radius: 10px;
  left: -5%;
  color: white;
  word-wrap: break-word;
}

body {
  background-color: rgb(211, 211, 211);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
